<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="app.transfer.receive"
	android:versionCode="1"
	android:versionName="1.0.0"
	android:installLocation="auto">
	
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="19"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	
	<application
		android:icon="@drawable/icon"
		android:label="انتقال گالری به کامپیوتر-دمو"
		android:theme="@android:style/Theme.Holo">
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="انتقال گالری به کامپیوتر"
			android:screenOrientation="portrait">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actmenu"
			android:label="انتقال گالری به کامپیوتر"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actupload"
			android:label="انتقال گالری به کامپیوتر"
			android:screenOrientation="portrait">
			
			<intent-filter>
			        <action android:name="android.intent.action.SEND_MULTIPLE" />
			        <category android:name="android.intent.category.DEFAULT" />
			        <data android:mimeType="image/*" />
					<data android:mimeType="video/*" />
					<data android:mimeType="audio/*" />
			    </intent-filter>
			<intent-filter>
					<action android:name="android.intent.action.SEND" />
			        <category android:name="android.intent.category.DEFAULT" />
			        <data android:mimeType="image/*" />
					<data android:mimeType="video/*" />
					<data android:mimeType="audio/*" />
			    </intent-filter>
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".acthelp1"
			android:label="انتقال گالری به کامپیوتر"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".acthotspot"
			android:label="انتقال گالری به کامپیوتر"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actaction"
			android:label="انتقال گالری به کامپیوتر"
			android:screenOrientation="portrait">
		</activity>
		<service android:name=".httpservers">
		</service>
		<receiver android:name=".httpservers$httpservers_BR">
		</receiver>
	</application>
</manifest>